

body {
  background-color: #222831;
  color: #EEEEEE;
  font-family: 'Courier New', monospace; 
}

#caloriesPlotContainer {
    display: flex;
    align-items: center;
    height: 500px; /* Set a fixed height for the entire plot and dropdown */
}

#caloriesPlot {
    width: 80%;
    height: 100%; /* Ensure the plot takes the full height */
}