
:root {
  --c1: #222831;
  --c2: #31363F;
  --c3: #76ABAE;
  --c4: #EEEEEE;
}

body {
  background-color: var(--c1);
  color: #EEEEEE;
  font-family: 'Courier New', monospace; 
  padding: 20px;
}

#scatterPlotContainer {
    display: flex;
    align-items: center;
    height: 600px; /* Set a fixed height for the entire plot and dropdown */
    width: 100%;
}

#scatterPlot{
    flex-grow: 1;
    width: 100%;
    height: 100%; /* Ensure the plot takes the full height */
}

#caloriesPlotContainer {
    display: flex;
    align-items: center;
    height: 600px; /* Set a fixed height for the entire plot and dropdown */
}

#caloriesPlot {
    width: 80%;
    height: 100%; /* Ensure the plot takes the full height */
}


/* Boxes */

#colorLegend {
    display: flex; /* Align items horizontally */
    justify-content: space-around; /* Distribute space between items */
    margin-bottom: 20px; /* Space between the legend and the plot */
}

.color-box {
    position: relative; /* Allows absolute positioning of text inside */
    display: flex; /* Center content horizontally and vertically */
    align-items: center;
    justify-content: center;
    width: 120px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin: 0 10px; /* Space between boxes */
    font-family: 'Courier New', monospace; /* Font family */
    border: 0px solid #ccc; /* Optional border for better visibility */
    background-color: var(--c3);
    color: var(--c1);
}

.text-top-left {
    position: absolute;
    top: 5px; /* Distance from the top */
    left: 5px; /* Distance from the left */
    font-size: 12px; /* Smaller text size */
}

.value-center {
    font-size: 16px; /* Larger text size for value */
    font-weight: bold; /* Make text bold */
}

.updatemenu-item-rect:hover {
      background-color: black !important; /* Green hover color */
      fill: var(--c4) !important;
  }

.updatemenu-item-text:hover {
      background-color: var(--c3) !important; /* Green hover color */
      fill: var(--c1) !important;
      color: var(--c1) !important;
  }

.updatemenu-item-rect:active {
      fill: purple !important;
  }
.updatemenu-item-text:active {
      fill: purple !important;
  }

/* Ensure plot takes up the full space */
#caloriesPlot {
    width: 100%;
    height: 100%;
}
