.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* Hide radio buttons */
input[type="radio"] {
    display: none;
}

/* Style for tab labels */
.tab-label {
    padding: 10px 20px;
    background-color: var(--c2);
    cursor: pointer;
}

/* Active tab label */
input[type="radio"]:checked + label {
    background-color: var(--c3);
    color: var(--c1);
}

/* Style for tab content containers */
.tab-content {
    display: none;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid var(--c2);
}

/* Show the content of the checked tab */
#tab1:checked ~ .content1,
#tab2:checked ~ .content2 {
    display: block;
}

#sleep_radio:checked ~ #sleep_form,
#bss_radio:checked ~ #bss_form,
#medicine_log_radio:checked ~ #medicine_log_form,
#weight_radio:checked ~ #weight_form {
    display: block;
}

@media (max-width: 768px) { /* You can adjust this breakpoint as needed */
    .tab-content {
        border: 0px solid var(--c2);
    }
}